
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0.15em;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.tree-view:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
}

.list-view:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
}

.table-view:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
}

.tab-header-area {
    -fx-padding: 0 0 0 0;
}

.tab {
    -fx-border-width: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}
