.tab-pane {
    -fx-tab-max-height: 25px;
    -fx-tab-min-height: 25px;
}

.tree-view .tree-cell {
    -fx-indent: 1.3em;
    -fx-font-size: 1em; /* 12 */
    -fx-padding: 0.3em; /* 6 */
    -fx-background-color: tree_view_background_color;
    -fx-text-fill: text_color;
}


.table-cell {
    -fx-padding: 0.3em 2em 0.3em 1em;
}

.table-view .column-header .label {
    -fx-padding: 0.5em 2em 0.5em 0; /* 8 24 8 0 */
}


.progress-bar:indeterminate .dot_1 {
    -fx-background-color: ACCENT_COLOR;
}

.progress-bar:indeterminate .dot_2 {
    -fx-background-color: derive(ACCENT_COLOR, -15%);
}

.progress-bar:indeterminate .dot_3 {
    -fx-background-color: derive(ACCENT_COLOR, -30%);
}

.progress-bar:indeterminate .dot_4 {
    -fx-background-color: derive(ACCENT_COLOR, -45%);
}

.progress-bar:indeterminate .dot_5 {
    -fx-background-color: derive(ACCENT_COLOR, -60%);
}


